<menu></menu>
<div class="container">
    <h2>Kliendid</h2>
    <form>
        <div class="form-group">
            <label for="search-string">Otsingusõna:</label>
            <input id="search-string" name="searchString" [ngModel]="searchString" class="form-control" (ngModelChange)="search($event)">
        </div>
    </form>
    <button type="button" id="delete-all-link" class="btn btn-danger pull-right" (click)="deleteSelected()">Kustuta märgitud</button>
    <table class="table">
        <thead>
        <tr>
            <th>Eesnimi</th>
            <th>Telefon</th>
            <th></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let contactListItem of contactListItems' [class]="contactListItem.checked ? 'selected' : ''">
            <td id="first-name-$index"><a routerLink="/update/{{ contactListItem.contact._id }}" class="edit-link">{{ contactListItem.contact.name }}</a></td>
            <td>{{ contactListItem.contact.phone }}</td>
            <td>
                <button type="button" class="btn btn-danger delete-link" (click)="deleteContact(contactListItem.contact._id)">
                    Kustuta
                </button>
            </td>
            <td><input type="checkbox" [(ngModel)]="contactListItem.checked"/></td>
        </tr>
        </tbody>
    </table>
</div>
