<menu></menu>
<div class="container">
    <h2>Lisa kontakt</h2>
    <form>
        <div class="form-group">
            <label for="name-input">Eesnimi:</label>
            <input type="text" name="name" class="form-control" id="name-input" [(ngModel)]="name"/>
        </div>
        <div class="form-group">
            <label for="phone-input">Telefon:</label>
            <input type="text" name="phone" class="form-control" id="phone-input" [(ngModel)]="phone"/>
        </div>
        <button (click)="save()" class="btn btn-default" id="save-link">Salvesta</button>
    </form>
</div>