
#simple-modal {
    z-index: 3;
    display: block;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

#simple-modal.hide {
    display: none;
}

#simple-modal .simple-modal-content {
    text-align: center;
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 30px;
    outline: 0;
    width: 200px;
}
