<div id="simple-modal" class="ng-scope">
    <div class="simple-modal-content">

        <b>Oled kindel?</b>

        <br><br>

        <button type="button" ng-click="ok()" id="simple-modal-ok" class="btn btn-primary">Jah</button>
        <button type="button" ng-click="cancel()" class="btn" id="simple-modal-cancel">Ei</button>

    </div>
</div>