<h2>Kliendid</h2>
<form>
    <div class="form-group">
        <label for="search-string">Otsingusõna:</label>
        <input id="search-string" ng-model="vm.searchString" class="form-control" ng-change="vm.search()">
    </div>
</form>
<button type="button" class="btn btn-danger pull-right" ng-click="vm.removeSelected()">Kustuta märgitud</button>
<table class="table">
    <thead>
    <tr>
        <th>Eesnimi</th>
        <th>Telefon</th>
        <th></th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in vm.contacts" ng-class="{ 'selected': vm.selected[$index] }">
        <td id="first-name-$index"><a href="#/view/{{ contact._id }}" class="edit-link">{{ contact.name }}</a></td>
        <td>{{ contact.phone }}</td>
        <td>
            <button type="button" class="btn btn-danger delete-link" ng-click="vm.remove(contact._id)">Kustuta</button>
        </td>
        <td><input type="checkbox" ng-model="vm.selected[contact._id]"/></td>
    </tr>
    </tbody>
</table>
</div>