<div class="container">
    <h2>Lisa kontakt</h2>
    <form>
        <div class="form-group">
            <label for="name-input">Eesnimi:</label>
            <input type="text" class="form-control" id="name-input" ng-model="vm.form.name"/>
        </div>
        <div class="form-group">
            <label for="phone-input">Telefon:</label>
            <input type="text" class="form-control" id="phone-input" ng-model="vm.form.phone"/>
        </div>
        <button ng-click="vm.save()" class="btn btn-default" id="save-link">Salvesta</button>
    </form>
</div>